.about {

    @include media-breakpoint-up(md) {
        margin-bottom:5rem;
    }

    .nav-tabs {
        margin: 0.6rem 0 0 0;
        width: 100%;

        @include media-breakpoint-down(lg) {
            margin: 1rem 0 0 0;
        }
    }

    &__nav {
        height: fit-content;
        padding: 0 !important;

        &-ul {
            margin: 0;
            width: 100%;
            border: none !important;
        }

        &-li {
            list-style-type: none;
            line-height: 1.2rem;
            font-weight: 700;
            width: 100% !important;
            margin-bottom: -3px;
            margin-top: -3px;
        }
    }

    &__content {
        padding: 0 2rem 2rem 2rem;

        img {
            margin-right: 2rem;
        }

        h4 {

            font-weight: 700;
            color: $gray-1;

            &:nth-child(2) {
                color: $red;
            }
        }

        @include media-breakpoint-down(sm) {
            padding: 0;
        }
    }

    &__row {
        background-color: $gray-bg;
        padding: 2rem 0;

        &--text-wrapper {
            padding: 1rem 2rem;
        }

        &--img-right {
            order: 2;
        }
    }

    .nav-link {
        color: #ffffff;
        background-color: $red;
        font-size: 0.9rem;
        margin: -1px 0;
        padding: 21px 20px;
        width: 100%;
        display: block;
        border: none;
        outline: none;
        border-radius: 0;
        position: relative;
        transition: background-color ease-in-out 0.2s, color ease-in-out 0.2s;

        &:hover {
            background-color: white !important;
            border: 1px solid $gray-3;
            color: $gray-2 !important;
            margin: -2px 0;
        }

        .fa-caret-right {
            color: white;
            position: absolute !important;
            right: 20px !important;
            top: 50% !important;
            transform: translateY(-50%) !important;
        }

        &.activeLink {
            background-color: white !important;
            border: 1px solid $gray-3;
            color: $gray-2 !important;
            margin: -2px 0;

            .fa-caret-right {
                color: $red;
            }
        }
    }

    .nav-item {
        list-style-type: none;
        line-height: 1.2rem;
        font-weight: 700;
        margin-bottom: -3px;
        margin-top: -3px;
    }

}

