.career {
    &__accord-body {

        border: solid 1px $gray-3;
        border-top: none;

        h4 {
            color: $red;
        }

        p {
            color: $gray-2;
        }

        li {
            color: $gray-2;
            list-style-image: url('../../img/listStyle.png');
            font-size: 0.9rem;
            transform: scaleY(0.9);
        }
    }

    &__card {

        .collapse {

            &.show {
                background-color: white !important;
            }
        }

        .collapsing {
            background-color: white;

        }
    }

    &__card-header {

        a {
            background-color: white !important;
            color: $red !important;
            border: solid 1px $gray-3;
            border-bottom: none;

            &.collapsed {
                border: none;
                background-color: $gray-bg !important;
                color: $gray-2 !important;
            }

            &:hover {
                color: white !important;
                background-color: $red !important;
            }
        }
    }

    &__wide-text {
        padding: 2rem 3rem;
        background-color: $gray-bg;
        margin: 2rem 0;
    }
}