.wpcf7 input[type="text"],
.wpcf7 textarea,
.wpcf7 label {
    color: $gray-2;
    width: 100%;
}

.wpcf7 input[type="text"],
.wpcf7 textarea {
    background-color: $gray-bg;
    border-radius: 0;
    border: none;
    margin-top: 0.5rem;
}

.wpcf7 input[type="text"] {
    min-height: 3rem;
}

.wpcf7 input[type="submit"] {
    background-color: $red;
    padding: 15px 40px;
    color: white !important;
    border-radius: 30px;
    font-size: 1.5rem;
    box-shadow: 0px 0px 60px -19px #000000;
    margin: 20px 0;
    cursor: pointer;
    z-index:100;
    transition: ease-in-out 0.2s;
    text-decoration: none !important;
    float: right;

    &:hover {
        box-shadow: 0px 0px 60px -10px #000000;
    }
}

.contact-p {

    &__breadcrumbs {

        span {
            color: $gray-2;
        }

        a {
            font-weight: 700;
            color: $gray-2 !important;
        }
    }

    &__wysiwyg {

        h4 {
            color: $red;
            font-weight: 700;
        }

        p {
            margin-bottom: 0.2rem;
        }
    }
}