.footer {
    background-color: $gray-1;

    &__content {
        padding-top:100px;
        padding-bottom: 160px;
        color:white;
    }

    &__logo {
        margin-bottom: 20px;
        height: 45px;

        @include media-breakpoint-down(sm) {
            margin-bottom: 30px;
        }

    }

    &__block {
        padding-left: 0;

        p {
            margin-bottom: 0;
            font-weight: 400;
            line-height: 1.8rem;
            color:white;
        }
    }

    &__nav {

        @include media-breakpoint-down(sm) {
            margin-top: 30px;
        }

        &-link {
            color: white !important;
            font-size: 1.1rem;
            display:block;
            transform: scaleY(0.9);
            line-height: 2rem;
            text-transform: uppercase;

            &:hover {
                color:white;
            }

            &:visited {
                color: white;
            }
        }
    }

    &__social-icons {

        @include media-breakpoint-down(lg) {
            margin: 30px 0 0 -10px;
        }
    }
}