.help {

    &__card {
        border-radius: 0;
        border: none;
        margin-bottom: 1rem;

        .collapse {

            &.show {
                background-color: $red;
                color: white;
            }
        }

        .collapsing {
            background-color: $red;
            color: white !important;
        }
    }

    &__card-header {
        border-radius: 0 !important;
        background-color: $gray-bg !important;
        transition: ease-in-out 0.2s;
        padding: 0;

        a {
            color: white !important;
            background-color: $red;
            font-weight: 700;
            transition: ease-in-out 0.2s;
            border-radius: 0;
            width: 100%;
            padding: 1.25rem 2.1rem;
            text-align: left;
            margin: -5px 0;
            font-size: 1.5rem;

            &.collapsed {
                background-color: $gray-bg;
                color: $gray-2 !important;
            }

            &:hover {
                color: white !important;
                background-color: $red;
            }
        }
    }

    &__card-body {
        padding: 2.1rem;
    }
}