.latest {

    width: 85%;

    &__masonry {

        display: grid;
        grid-gap: 2rem;
        grid-template-columns: repeat(auto-fill, minmax(300px,1fr));
        grid-auto-rows: 20px;
        padding-bottom: 2rem;

        @include media-breakpoint-up(lg) {
            :nth-child(1) {
                grid-column: span 2;
            }
        }

        &-item {
            background-color: $gray-bg;
            transition: ease-in-out 0.2s;

            &:hover {
                background-color: $red;

                h5 {
                    color: white;
                }

                p {
                    color:white;
                }

                span {
                    color: white;
                }

                a {
                    color:white;
                }
            }
        }

        &--img-wrapper {

            img {
                width: 100%;
            }
        }

        &--text-wrapper {
            padding: 2rem;

            a {
                text-decoration: none;
            }

            h5 {
                font-weight: 700;
                color: $gray-1;
            }

            p {
                &:last-child {
                    margin-bottom: 0;
                }
            }
        }

        &--read-more {
            color: $gray-1;
        }
    }

    &__breadcrumbs {
        font-size: 0.9rem !important;
        padding-left: 0;
        margin-left: 0;

        span {
            color: $gray-2 !important;
        }

        a {
            font-weight: 700 !important;
            color: $gray-2 !important;
        }
    }
}