.header-nav {
    @include media-breakpoint-up(xl) {
        height: 210px !important;
    }

    &__logo {
        height: 45px;

        @include media-breakpoint-down(xl) {
            margin-left: 0px;
        }

        @include media-breakpoint-up(xl) {
            margin-left: 110px;
        }
    }

    .nav-link {
        text-transform: uppercase;
        transform: scaleY(0.9);
        font-size: 1.1rem;

        @include media-breakpoint-up(lg) {

            color: $gray-1;
        }

        @include media-breakpoint-down(lg) {
            color: $gray-1;
            text-align: center;
        }
    }
}

.navbar-brand {

    @include media-breakpoint-down(lg) {
        margin-right: -50px;
    }

    @include media-breakpoint-down(md) {
        margin-top: 0;
    }
}

.navbar {

    z-index:3;

    @include media-breakpoint-down(md) {

        background-color: white !important;
    }
}

.header-menu {

    @media only screen and (min-width: 1500px)  {
        margin-right: 70px;
    }
}

.dark-nav {

    li {
        a {
            color: #ffffff !important;

            @include media-breakpoint-down(lg) {

                color: $gray-1 !important;
            }
        }
    }
}