.products {

    &__product-wrapper {
        border: solid 1px $gray-3;
    }

    &__product-spacer {
        padding: 12px !important;
        display: inline-block;
        margin: -2px;
    }

    &__img-wrapper {

        padding: 20px 20px 0px;

        img {
            max-height: 110px;
            display: block;
            margin: 0 auto 20px;
        }

        &:after {
            display: block;
            content: '';
            height: 1px;
            width: 110%;
            margin-left: -5%;
            background-color: $gray-3;
        }
    }

    &__text-wrapper {

        padding: 0 20px 20px;
        transition: ease-in-out 0.2s;

        &:hover {

            background-color: $red;

            h4 {
                color: white;
            }

            p {
                color: white;
            }

            a {
                color: white;
                text-decoration: none !important;
            }
        }

        h4 {
            color: $red;
            height: 56px;
            padding-top: 20px;
            padding-bottom: 47px;
        }

        p {
            &:nth-of-type(1) {
                height: 42px;
            }

            &:nth-of-type(2) {
                text-align: right;
                margin-bottom: 0;
            }
        }

        a {
            display: block;
            color: $gray-2;
        }

    }

    &-desc {
        background-color: $gray-bg;
        max-width: 1230px;
        opacity: .99;
        margin-top: 2rem;
        margin-bottom: -5rem;

        &__text-wrapper {
            padding:5rem 7rem;

            @include media-breakpoint-down(md) {
                padding:2rem 3rem;
            }

            h4 {
                font-weight: 700;
            }

            p {
                column-count: 2;
                column-gap: 3rem;

                @include media-breakpoint-down(md) {
                    column-count: 1;
                }
            }
        }
    }
}