.product {

    &__container {
        width: 90% !important;
        margin-right: 0 !important;
    }

    &__gallery {
        display: inline-block;
        padding-right: 3rem;
    }

    &__content {
        background-color: $gray-bg;
        display: inline-block;
        margin-left: -5px;
        padding: 1rem;
        position: absolute;

        @include media-breakpoint-down(lg) {
            position: relative;
        }

        @include media-breakpoint-up(md) {
            padding: 3rem;
        }

        @include media-breakpoint-up(lg) {
            padding: 6rem;
        }

        h4 {
            color: $red;
        }
    }

    &__btns-wrapper {
        margin-top: 2rem;
    }

    &__pdf-icon {
        margin-left: 2rem;
    }
}

.slick-track {

    margin-top: 1rem !important;
}