.realisation {

    &__content-wrapper {
        background-color: $gray-bg;
        padding: 4rem;
    }

    &__text-wrapper {

        h4 {
            color: $red;
            hyphens: auto;
        }

        p {
            line-height: 1.7rem;
        }

    }
}