@import "../node_modules/bootstrap/scss/bootstrap";

@import 'utilities/colors';
@import 'utilities/social-icons';
@import 'utilities/elements';
@import 'utilities/contact-section';
@import 'utilities/fullwidth-img';
@import 'utilities/carousel-thumbs';

@import 'menu-header';

@import 'page-main';
@import 'about';
@import 'products-list';
@import 'product-single';
@import 'realisations';
@import 'realisation-single';
@import 'latest-posts';
@import 'single';
@import 'help';
@import 'career';
@import 'contact';
@import 'service';

@import 'footer';

a {
    text-decoration: none;
    transform: scaleY(0.9);
}

h1 {
    font-size:2.25rem;
    transform: scaleY(0.9);
    color: $gray-1;
}

h2 {
    font-size:2.25rem;
    transform: scaleY(0.9);
    color: $gray-1;
    letter-spacing: 0.2rem;
    font-weight: 700;
}

h3 {
    font-size:1.15rem;
    transform: scaleY(0.9);
    color: $gray-1;
    font-weight: 400;
}

h4 {
    transform: scaleY(0.9);
}

p {
    font-size: 0.9rem;
    transform: scaleY(0.9);
    color: $gray-2;
}

* {
    font-family: 'Open Sans', sans-serif;
    outline: none;
}

.header-menu {

    .nav-item {

        .nav-link {

            font-weight: 700;
            outline: none !important;

            &:hover {
                background-color: $red;
                color: white;
            }
        }

        .activeLink {

            background-color: $red;
            color: white;
        }
    }
}

.dropdown-menu {
    position: relative;
    left: auto;
    top: auto;
    border-radius: 0;
    background-color: $gray-bg;
    border: none;
    padding: 0;

    .nav-item {

        .nav-link {
            color: $gray-2 !important;
            padding: 15px 30px;
            margin: -6px 0;
            line-height: 1.2rem;

            &.activeLink {

                background-color: $red;
                color: white !important;
            }

            &:hover {
                background-color: $red;
                color: white !important;
            }
        }
    }
}

.heading--red {
    color: $red;
    font-weight: 700;
    letter-spacing: 0.2rem;
}

.heading--gray {
    color: $gray-1;
    font-weight: 700;
}

.heading--white {
    color: #ffffff;
    font-weight: 700;
}

.section--title {
    text-align: center;
}

.breadcrumbs {
    padding-left: 3.2rem;
    font-size: 0.9rem;

    @include media-breakpoint-down(md) {
        padding-left: 1rem;
    }

    span {
        color: $gray-2;
    }

    a {
        font-weight: 700;
        color: $gray-2 !important;
    }
}