.main{

    &__first-sec {

        height: 80vw;
        margin-top: -210px;
        background-repeat: no-repeat;
        background-size: 90%;
        background-position: top right;
        opacity: .99999;
        z-index: 2;

        @include media-breakpoint-down(lg) {

            margin-top: 0;
            background-size: 100%;
            height: 88vw;
        }

        @include media-breakpoint-down(sm) {

            height: 186vw;
        }
    }

    &__about {
        padding-top: 250px;

        @include media-breakpoint-down(lg) {
            padding-top: 100px;
        }

        @include media-breakpoint-down(sm) {
            padding-top: 340px;
        }

        @media screen and (min-width: 576px) and (max-width: 768px) {
            padding-top: 650px;
        }

    }

    &__about-fig {

        position: relative;
        background-color: $red;

        &:after {
            content: '';
            display: block;
            position: absolute;
            bottom:-110px;
            right:0;
            width: 0;
            height: 0;
            border-top: 110px solid $red;
            border-left: 95px solid transparent;

            @include media-breakpoint-down(sm) {
                bottom:-90px;
                border-top: 90px solid $red;
                border-left: 75px solid transparent;
            }
        }

        &--content {
            text-align: center;
            width: 100%;
            padding:70px 10px;

            @include media-breakpoint-up(lg) {
                padding: 110px 10px;
            }
        }

        &--text1 {
            color: white;
            font-size: 1.4rem;
            transform: scaleY(0.9);
            display: block;
            line-height: 1;
            padding-bottom: 5px;

            @include media-breakpoint-up(sm) {
                font-size: 1.6rem;
            }

            @include media-breakpoint-up(lg) {
                font-size: 1.9rem;
            }
        }

        &--text2 {
            color: white;
            font-size: 3.5rem;
            transform: scaleY(0.9);
            display: block;
            line-height: 1;

            @include media-breakpoint-up(sm) {
                font-size: 4rem;
            }

            @include media-breakpoint-up(lg) {
                font-size: 5rem;
            }
        }
    }

    &__second-sec {
        background-color: $gray-bg;
        margin-top:-22vw;
    }

    &__about2 {
        padding:80px 0;
    }

    &__third-sec-wrapper {

        h2 {
            text-align: center;
            padding: 2rem 0;
        }
    }

    &__products-wrapper {
        margin: 2rem 0 8rem 0;
    }

    &__product-wrapper {
        text-align: center;
    }

    &__product {

        &--img-wrapper {
            height: 200px;

            img {
                max-height: 100%;
            }
        }

        &--link-wrapper {

            h3 {
                background-color: transparent;
            }
        }
    }

    &__fourth-sec {
        background-repeat: no-repeat;
        background-size: 40vw;
        background-position: top right;
        height: 67vw;
        z-index: 2;
        opacity: .999;
        margin-bottom: -50vw;
        margin-top: -2vw;

        @include media-breakpoint-up(lg) {
            margin-bottom: -33vw;
            margin-top: -10vw;
        }

        @include media-breakpoint-down(sm) {
            background-size: 87vw;
            height: 154vw;
            margin-bottom: -16vw;
            margin-top: -40vw;
        }

        @include media-breakpoint-down(md) {
            margin-bottom: -16vw;
            margin-top: -40vw;
        }
    }

    &__fourth--slogan-wrapper {
        margin-bottom: -20vw;
    }

    &__fourth--slogan {
        margin-top: 23vw;

        @include media-breakpoint-down(sm) {
            margin-top: 45vw;
        }

        h2 {
            font-size: 2vw;
            color: white;
            line-height: 2.7vw;

            @include media-breakpoint-down(sm) {
                line-height: 1.4;
                font-size: 4vw;
            }
        }
    }

    &__fifth-sec {
        background-color: $gray-bg;
    }

    &__article {

        border-left: solid 4px $red;

        a {
            color: $gray-1;
        }
    }

    &__sixth-sec {
        padding: 70px 0 70px 100px;

        @include media-breakpoint-down(lg) {
            padding: 25px 20px 50px 20px;
        }

        @include media-breakpoint-down(md) {
            padding: 25px 20px 90px 20px;
        }

        @include media-breakpoint-down(sm) {
            padding: 25px 20px 50px 20px;
        }
    }

    &__sixth-slider {
        height:100px;
    }
}


