.single {

    &__img-wrapper {
        float: left;
        width: 50%;
        padding-right: 2rem;
        padding-bottom: 2rem;

        @include media-breakpoint-down(md) {
            width: 100%;
            padding: 2rem;
        }

        img {
            width: 100%;
            height: auto;
        }

        @include media-breakpoint-down(md) {
            width: 100%;
        }
    }

    &__content {
        float: right;
    }

    &__date-wrapper {
        float: right;
        width: 50%;

        h5 {
            color: $red;
            font-weight: 700;
        }

        @include media-breakpoint-down(md) {
            width: 100%;
        }
    }
}