.contact {

    &__container {
        padding-left: 0;
    }

    &__map-wrapper {
        height: 600px;

    }

    &__data-heading {
        padding: 50px;
        width: 100%;
        margin-top: 50px;
        margin-bottom: 50px;
        border-bottom-left-radius: 70px;
        border-top-left-radius: 70px;
        box-shadow: 0px 0px 60px -19px #000000;

        h4 {
            margin-bottom: 0;
        }
    }

    &__info-wrapper {
        padding-left: 50px;
    }

    &__btn-wrapper {
        padding-left: 50px;
    }
}