.btn-std {
    background-color: $red;
    padding: 15px 40px;
    color: white !important;
    border-radius: 30px;
    font-size: 1.5rem;
    box-shadow: 0px 0px 60px -19px #000000;
    margin: 20px 0;
    display: inline-block;
    cursor: pointer;
    z-index:100;
    transition: ease-in-out 0.2s;
    text-decoration: none !important;

    &:hover {
        box-shadow: 0px 0px 60px -10px #000000;
    }
}

.btn--arrow {
    color: $gray-2 !important;
    font-size: 1.2rem;
    transition: ease-in-out 0.2s;
    text-decoration: none !important;
    display:inline-block;
    text-align: right;


    &:hover ~ .fa-arrow-alt-circle-right{

        padding-left: 20px;
        margin-right: -10px;
    }
}

.fa-arrow-alt-circle-right {
    font-size: 2rem;
    transition: ease-in-out 0.1s;
    padding-left: 10px;
    color: $gray-2;
}

.post-info {

    &--light-gray {
        color: $gray-3;
    }

    &--dark-gray {
        color: $gray-2;
    }
}